/* START - Default Styles */

* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  line-height: 1.618em;
  background: #003459;
}
.wrapper {
  max-width: 65rem;
  width: 100%;
  margin: 2rem auto;
  padding: 5rem;
  text-align: center;
  background: #FCFCFC;
  border: 0.5rem solid #0D1B4C;
}
hr {
  border: 0;
  border-bottom: 0.0625rem solid #bbb;
  margin: 3rem 0;
}
button {
  font-size: 2em;
  background: #028090;
  color: #fff;
  border: 0.25rem solid #028090;
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* END - Default Styles */


/* START - Button Base Styles */

button:hover {
  color: #028090;
}

button::after {
  content: '';
  background: #FAFAFA;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

/* END - Button Base Styles */


/* START - Slide In Styles */

button[class^='slide']::after {
  transition: all 0.40s;
}

button[class^='slide']:hover::after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.40s;
}


button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

button.slide_from_right::after {
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}

button.slide_from_top::after {
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
}

button.slide_from_bottom::after {
  top: 100%;
  bottom: -100%;
  left: 0;
  right: 0;
}

/* END - Slide In Styles */

/* START - Grow Styles */

button[class^='grow']::after {
  transition: all 0.40s ease;
}

button[class^='grow']:hover::after {
  transition: all 0.40s ease-out;
}

button.grow_box::after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(0, 0);
}

button.grow_box:hover::after {
  transform: scale(1, 1);
}

button.grow_ellipse::after {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  line-height: 8em;
  transform: scale(0,0);
}

button.grow_ellipse:hover::after {
  transform: scale(1, 1);
}

button.grow_skew_forward::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0,1);
}

button.grow_skew_forward:hover::after {
  transform: skewX(-45deg) scale(1,1);
}

button.grow_skew_backward::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(45deg) scale(0,1);
}

button.grow_skew_backward:hover::after {
  transform: skewX(45deg) scale(1,1);
}

button.grow_spin::after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(0, 0) rotate(-180deg);
}

button.grow_spin:hover::after {
  transform: scale(1, 1) rotate(0deg);
}

/* END - Grow Styles */